<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">
    <p></p>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Przedmiot</th>
            <th>Data</th>
            <th>Długość</th>
            <th>Adres</th>
            <th>Prowadzący</th>
            <th>Twoja obecność</th>
        </tr>
        </thead>
        <tbody th:each="subject: ${subjects}">
        <tr>
            <td th:text="${subject.subject }">John</td>
            <td th:text="${subject.date}"></td>
            <td th:text="${subject.lenght}"></td>
            <td th:text="${subject.address}"></td>
            <td th:text="${subject.teacher.firstname} + ' ' + ${subject.teacher.lastname}"></td>
            <td th:each="presenc : ${presence}" th:if="${presenc.subject.id} eq ${subject.id}" th:text="${presenc.presence}"></td>
        </tr>

        </tbody >
    </table>
</div>
</div>

</body>
</html>