<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">
    <div class="studentstable">
       <a th:href="@{'students/add'}"><button class="btn btn-info addstudent">Dodaj studenta</button></a>
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Imie i nazwisko</th>
            <th>PESEL</th>
            <th>Dane</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        </thead>
        <tbody th:each="student: ${students}">
        <tr>
            <td th:text="${student.getFirstname() + ' ' + student.getLastname() }">John</td>
            <td th:text="${student.getPESEL()}"></td>
            <td><a th:href="@{'/students/' + ${student.id}}"><button class="btn btn-info students" >Dane</button></a> </td>
            <td><a th:href="@{'/students/edit/' + ${student.id}}"><button class="btn btn-light students" >Edytuj</button> </a></td>
            <td><a th:href="@{'/students/delete/' + ${student.id}}" onclick="return confirm('Czy napewno chcesz usunąć tego studenta?')"> <button class="btn btn-danger students" >Usuń</button></a> </td>

        </tr>

        </tbody>
    </table>
    </div>
</div>
</body>

</html>
