<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container-fluid">
    <p></p>
    <div class="studentstable">

        <table class="table table-dark table-hover">
            <thead>
            <tr>
                <th>Nazwa przedmiotu</th>
                <th>Data</th>
                <th>Czas trwania</th>
                <th>Miejsce</th>
                <th>Obecność</th>
            </tr>
            </thead>
            <tbody th:each="subject: ${subjects}">
            <tr>
                <td th:text="${subject.subject}">John</td>
                <td th:text="${#temporals.format(subject.date, 'dd-MM-yyy, HH:mm')}">John</td>
                <td th:text="${subject.lenght} + ' minut'">John</td>
                <td th:text="${subject.address}">John</td>
                <td><a th:href="@{'/mysubjects/' + ${subject.id}}"><button class="btn btn-info">Obecność</button> </a></td>
            </tr>

            </tbody >
        </table>
    </div>
</div>
</body>

</html>