<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head">
</head>
<body>
<nav th:fragment="navbar" class="newnav" >
    <a th:href="@{/}">Strona główna</a>
    <a sec:authorize="hasAuthority('Admin')" th:href="@{/students}">Studenci</a>
    <a sec:authorize="hasAuthority('Admin')" th:href="@{/subjects}">Zajęcia</a>
    <a sec:authorize="hasAuthority('Admin')" th:href="@{/teachers}">Nauczyciela</a>
    <a sec:authorize="hasAuthority('Teacher')" th:href="@{/mysubjects}">Zajęcia</a>
    <a sec:authorize="hasAuthority('Student')" th:href="@{/schedule}">Zajęcia</a>
    <a sec:authorize="isAuthenticated()"  th:href="@{/logout}" style="float: right">Wyloguj</a>
</nav>
</body>
</html>